
@font-face {
  src: url(fonts/arlbld.ttf);
  font-family: arlbld;
}

/* logo top */

.logo {
  font-family: arlbld;
  font-size: 24px;
  color: white;
  text-align: center;
  clear: both;
  padding-top: 10px; 
}

  /* nav bar */
  
  nav {
    text-align: center;
    clear: both;
    font-family: arlbld;
    color: white;
    font-size: 24px;
   
  }
  
  ul {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
  }
  
  li {
    display: inline-block;
    padding: 5px;

  }


/* link color */
  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
   
  }

/* body */



 body {
    background-color: black;
    font-family: arlbld;
    color: white;
    font-size: 18px;


  }

  .title {
    transform: skew(-13deg);
    -webkit-transform: skew(-13deg);

  }



 p {
    text-align: center;
    clear: both;
    font-family: arlbld;
    color: white;
    font-size: 18px;

    }




* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  max-width: 80%;
  margin:auto;
}

.container2 {
  position: relative;
  max-width: 80%;
  margin:auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides2 {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}




.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 33.33%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
  
  
  