
@font-face {
  src: url(fonts/arlbld.ttf);
  font-family: arlbld;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

}

html {
  font-family: arlbld;
  background-color: black;
  color: white;
  box-sizing: border-box;
}


/* body style */

body {
  text-align: center;
}


/* header */

header {
  display: block;
  padding-bottom: 12px;
  
}

/* logo appearance */

header img {
  height: 180px;
 
  
}



/* nav */

nav {
  color: white;
  font-size: 18px;
  
  
}

nav ul { 
  list-style-type: none;
}

nav li  { 
  display: inline; 
  margin: 5px;
}



/* nav links */

nav a {
  color: white;
  text-decoration: none;
 

}

nav a:hover {
  color: blue;
}


p {
  padding-top: 36px;
  text-align: center;
}


 



