@font-face {
    src: url(fonts/arlbld.ttf);
    font-family: arlbld;
  }

* {box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arlbld;
}
  
  body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    min-height: 100vh;  
}

.header {
    /*border: 8px solid turquoise;*/
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: fixed;
    min-width: 100vw;
    max-width: 100vw;
    height: 12vw;
    padding: 8px; 
}

#logo { 
    width: 20%;   
}

nav {
    margin-right: 10vw;
}

.active {
    border: 8px solid white;
    padding: 6px;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 12px;
    list-style: none;
}

h3 {
    border: 6px solid white;
    padding:6px;
}

.content {
   
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 6px;
    margin-top: 120px;
}

.content img {
    width: 80vw;
    
}

.contentSlide {
    width: 80vw;
}


/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 33.33%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

.gallery {
    /*border: 8px solid salmon;*/
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

footer {
    /*border: 8px solid plum;*/
    display: flex;
    justify-content: center; 
    padding: 12px;
    gap: 4px;  
}

a {
    color: white;
    text-decoration: none;
}

.center {
    text-align: center;
    line-height: 150%;
}

